@import '../../../public/styles/colors.pcss';
@import '../../../public/styles/media.pcss';

.Category {
  width: 100%;
  height: 48em;
  margin-top: 4em;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: var(--color-white);
}
