@import '../../../../styles/typography';
@import '../../../../styles/colors';
@import '../../../../styles/markdown';

.EditArticleList {
  display: flex;
  flex-direction: row;

  & .EditArticleList__wrapper {
    width: 660px;
  }

  & .EditArticleList__content-text {
    padding: 8px 10px 8px 0;
    font-family: $font-dincyr-regular;
    font-size: 16px;
    line-height: 19px;
    color: $color-black-darker;
    cursor: pointer;

    @include markdown-bold;
    @include markdown-link;
    @include markdown-code;
  }

  & .EditArticleList__items {
    margin: 0;
    font-family: $font-dincyr-regular;
    font-size: 16px;
    color: $color-black-darker;
    cursor: pointer;
  }

  & .EditArticleList__item {
    margin-top: 5px;

    @include markdown-bold;
    @include markdown-link;
    @include markdown-code;
  }

  & .EditArticleList__text-field {
    margin-top: 20px;
  }

  & .EditArticleList__item-fields {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 0; /* stylelint-disable-line */
    padding-left: 36px;
    list-style: none;
  }

  & .EditArticleList__item-field {
    width: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    position: relative;

    &:before {
      content: '';
      width: 10px;
      height: 10px;
      display: block;
      background: $color-black-medium;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: -26px;
      transform: translateY(-5px);
    }
  }

  & .EditArticleList__actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
  }

  & .EditArticleList__action {
    -webkit-appearance: none;
    width: 28px;
    height: 28px;
    padding: 0;
    margin: 0;
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;

    & .icon {
      width: 32px;
      height: 32px;
      color: $color-black-medium;
    }
  }

  & .EditArticleList__done {
    &:hover {
      & .icon {
        color: $color-green;
      }
    }
  }

  & .EditArticleList__delete {
    &:hover {
      & .icon {
        color: $color-red;
      }
    }
  }

  & .EditArticleList__add-item {
    margin-top: 20px;
    margin-bottom: 8px;
    transform: scale(1.1);

    &:hover {
      & .icon {
        color: $color-aquamarine;
      }
    }
  }

  & .EditArticleList__delete-item {
    display: flex;
    width: 40px;
    height: 100%;
    justify-content: center;
    align-items: center;

    & .icon {
      width: 26px;
      height: 26px;
    }
  }
}
