@import '../../../../styles/typography';
@import '../../../../styles/colors';
@import '../../../../styles/media';

.EditArticleImage {
  display: flex;
  flex-direction: row;

  & .EditArticleImage__wrapper {
    width: 660px;
  }

  & .EditArticleImage__content {
    font-family: $font-dincyr-regular;
    font-size: 16px;
    color: $color-black-darker;
    cursor: pointer;
  }

  & .EditArticleImage__image {
    width: 100%;
    margin-bottom: 20px;
  }

  & .EditArticleImage__url:before {
    content: 'URL: ';
    font-size: 14px;
    font-family: $font-dincyr-bold;
    color: $color-aquamarine;
  }

  & .EditArticleImage__description {
    padding: 8px 10px 8px 0;
    cursor: pointer;
  }

  & .EditArticleImage__description:before {
    content: 'Description: ';
    font-size: 14px;
    font-family: $font-dincyr-bold;
    color: $color-aquamarine;
  }

  & .EditArticleImage__credits:before {
    content: 'Credits: ';
    font-size: 14px;
    font-family: $font-dincyr-bold;
    color: $color-aquamarine;
  }

  & .EditArticleImage__description-field {
    margin-top: 20px;
  }

  & .EditArticleImage__credits-field {
    margin-top: 20px;
  }

  & .EditArticleImage__actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
  }

  & .EditArticleImage__action {
    -webkit-appearance: none;
    width: 28px;
    height: 28px;
    padding: 0;
    margin: 0;
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;

    & .icon {
      width: 32px;
      height: 32px;
      color: $color-black-medium;
    }
  }

  & .EditArticleImage__done {
    &:hover {
      & .icon {
        color: $color-green;
      }
    }
  }

  & .EditArticleImage__delete {
    &:hover {
      & .icon {
        color: $color-red;
      }
    }
  }
}
