@import '../../../public/styles/typography.pcss';
@import '../../../public/styles/colors.pcss';
@import '../../../public/styles/media.pcss';

.SvgSprite {
  display: none;

  & .SvgSprite__done {
    & .SvgSprite__done__path {
      fill: currentColor;
    }
  }

  & .SvgSprite__remove {
    & .SvgSprite__remove__path {
      fill: currentColor;
    }
  }

  & .SvgSprite__close {
    & .SvgSprite__close__path {
      fill: currentColor;
    }
  }
}
