@import '../../../styles/media';
@import '../../../styles/colors';
@import '../../../styles/typography';

.AutoComplete {
  width: 350px;
  display: flex;
  flex-direction: column;
  position: relative;

  & .AutoComplete__label {
    font-family: $font-dincyr-bold;
    font-size: 14px;
    color: $color-aquamarine;
  }

  & .AutoComplete__field {
    -webkit-appearance: none;
    width: 100%;
    padding: 8px 10px 8px 0;
    outline: none;
    font-family: $font-dincyr-regular;
    font-size: 16px;
    border: 0;
    border-bottom: 1px solid $color-dark-grey;
    color: $color-black-darker;
    transition: border-color 0.3s;
    box-sizing: border-box;

    &:focus {
      border-bottom: 2px solid $color-aquamarine;
    }

    &::placeholder {
      color: $color-dark-grey;
    }
  }

  & .AutoComplete__list {
    width: 100%;
    display: none;
    flex-direction: column;
    padding: 10px 0;
    margin: 0;
    position: absolute;
    top: 61px;
    list-style: none;
    background: $color-white;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }

  & .AutoComplete__item {
    width: 100%;
    padding: 6px 10px;
    font-family: $font-dincyr-regular;
    font-size: 16px;
    text-transform: capitalize;
    box-sizing: border-box;
    transition: background-color 0.4s;
    cursor: pointer;

    &:hover {
      background-color: $color-light-grey;
    }
  }

  & .AutoComplete__error {
    display: none;
    padding-top: 5px;
    font-family: $font-dincyr-regular;
    font-size: 12px;
    color: $color-red;
  }

  &.AutoComplete--open {
    & .AutoComplete__list {
      display: flex;
    }
  }

  &.AutoComplete--with-error {
    & .AutoComplete__label {
      color: $color-red;
    }

    & .AutoComplete__field {
      border-color: $color-red;
    }

    & .AutoComplete__error {
      display: block;
    }
  }
}
