@import '../../../../../public/styles/media.pcss';
@import '../../../../../public/styles/colors.pcss';

.EditArticleBodyNode {
  & .EditArticleBodyNode__before-node-container {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.4s;

    &:hover {
      opacity: 1;
    }
  }
}
