.ArticleVisibilitySensor {
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  & .ArticleVisibilitySensor__25 {
    width: 100%;
    height: 75%;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  & .ArticleVisibilitySensor__50 {
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  & .ArticleVisibilitySensor__75 {
    width: 100%;
    height: 25%;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  & .ArticleVisibilitySensor__100 {
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
