$color-black: #000000;
$color-black-darkest: #2d2d2d;
$color-black-darker: rgba(0, 0, 0, 0.8);
$color-black-dark: rgba(0, 0, 0, 0.7);
$color-black-medium: rgba(0, 0, 0, 0.55);
$color-black-light: rgba(0, 0, 0, 0.35);

$color-dark-grey: #888888;
$color-grey: #aaaaaa;
$color-light-grey: #f1f1f1;

$color-white: #ffffff;
$color-aquamarine: #2bc6db;
$color-green: #86ba45;
$color-red: #cc3b49;
