@font-face {
  font-family: 'DinCyr-Regular';
  src:
    url('/assets/fonts/DinCyr-Regular.woff') format('woff'),
    url('/assets/fonts/DinCyr-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'DinCyr-Bold';
  src:
    url('/assets/fonts/DinCyr-Bold.woff') format('woff'),
    url('/assets/fonts/DinCyr-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Cormorant-Bold';
  src:
    url('/assets/fonts/Cormorant-Bold.woff') format('woff'),
    url('/assets/fonts/Cormorant-Bold.ttf') format('truetype');
}
