$default-feature: min-width;

@function new-breakpoint($query: $feature $value) {
  @if length($query) == 1 {
    $query: $default-feature nth($query, 1);
  }

  @return $query;
}

@mixin media($query: $feature $value) {
  @if length($query) == 1 {
    @media screen and ($default-feature: nth($query, 1)) {
      @content;
    }
  } @else {
    $loop-to: length($query);
    $media-query: 'screen and ';

    $i: 1;
    @while $i <= $loop-to {
      $media-query: $media-query + '(' + nth($query, $i) + ': ' + nth($query, $i + 1) + ') ';

      @if ($i + 1) != $loop-to {
        $media-query: $media-query + 'and ';
      }

      $i: $i + 2;
    }

    @media #{$media-query} {
      @content;
    }
  }
}

/*
  $mobile-screen = 690px
  $tablet-screen = 995px
  $tablet-wide-screen = 1024px
  $desktop-screen = 1440px
*/

$sub-mobile: new-breakpoint(max-width 320px);
$mobile: new-breakpoint(max-width 400px);
$mobile-wide: new-breakpoint(min-width 401px max-width 690px);
$mobile-any: new-breakpoint(max-width 690px);
$tablet: new-breakpoint(min-width 691px max-width 995px);
$tablet-wide: new-breakpoint(min-width 996px max-width 1024px);
$tablet-any: new-breakpoint(min-width 691px max-width 1024px);
$mobile-tablet-any: new-breakpoint(max-width 1024px);
$desktop: new-breakpoint(min-width 1025px max-width 1439px);
$desktop-narrow: new-breakpoint(min-width 1025px max-width 1279px);
$desktop-wide: new-breakpoint(min-width 1440px);
$desktop-any: new-breakpoint(min-width 1025px);
$portrait: new-breakpoint(orientation portrait);
$landscape: new-breakpoint(orientation landscape);

$internet-explorer: 'screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none)'; /* IE10+ */
