$font-dincyr-regular: 'DinCyr-Regular', Helvetica, Arial, sans-serif;
$font-dincyr-bold: 'DinCyr-Bold', Helvetica, Arial, sans-serif;
$font-cormorant-bold: 'Cormorant-Bold', Georgia, Times, serif;
$font-monospace: monospace;
