@import '../../../styles/typography';
@import '../../../styles/colors';
@import '../../../styles/media';

.Navbar {
  width: 100vw;
  position: relative;
  padding: 0 8em;
  box-sizing: border-box;
  user-select: none;

  @include media($mobile) {
    font-size: 0.5rem;
    padding: 0 2em;
  }

  @include media($mobile-wide) {
    font-size: 0.6rem;
    padding: 0 2em;
  }

  @include media($tablet-any) {
    padding: 0 4em;
  }

  @include media($desktop-wide) {
    width: 128em;
    margin: 0 auto;
    padding: 0;
  }

  & .Navbar__menu {
    height: 12em;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: $font-cormorant-bold;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.6em;

    &:before {
      content: '';
      width: 100%;
      height: 0.2em;
      position: absolute;
      left: 0;
      top: 6em;
      background: $color-black;
    }
  }

  & .Navbar__menu-item {
    width: 50%;
    height: 2.23em;
    font-size: 2.6em;
    line-height: 2.23em;
    text-transform: uppercase;
    text-align: center;

    @include media($mobile) {
      width: 39%;
    }

    @include media($mobile-wide) {
      width: 42%;
    }

    @include media($tablet) {
      width: 43%;
    }
  }

  & .Navbar__menu-link {
    width: auto;
    height: 100%;
    display: inline-block;
    padding: 0 1em;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }

  & .Navbar__logo-container {
    width: 17em;
    height: 16em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -3em;
    left: 50%;
    transform: translateX(-8.5em);
    border: 0.6em solid $color-black;
    border-radius: 50%;
    background: $color-white;
    box-sizing: border-box;
    z-index: 10;
  }

  & .Navbar__logo {
    width: 11em;
    margin-top: 1em;
    z-index: 20;
  }

  & .Navbar__blog-name {
    font-family: $font-cormorant-bold;
    font-size: 1.6em;
    text-transform: uppercase;
    text-align: center;
    margin: 0.5em 0 0;

    @include media($mobile-any) {
      font-size: 1.8em;
    }
  }
}
