@import '../../../../styles/typography';
@import '../../../../styles/media';

.ArticleHeading {
  display: block;
  margin-top: 2em;
  padding: 0 4em;

  @include media($mobile-any) {
    margin-top: 1em;
    padding: 0 2em;
  }

  & .ArticleHeading__content {
    margin: 2em 0 0.3em;
    font-family: $font-dincyr-bold;
    font-size: 3.2em;
    text-align: center;

    @include media($tablet-any) {
      margin: 1.4em 0 0;
    }

    @include media($mobile-any) {
      margin: 1.2em 0 0;
      font-size: 2.4em;
    }

    @include media($sub-mobile) {
      margin: 1em 0 0;
      text-align: left;
    }
  }
}
