@import '../../public/styles/typography.pcss';
@import '../../public/styles/colors.pcss';

.AppComponent {
  padding: 1em;
  font-family: var(--font-cormorant-bold);
  text-align: center;
  margin-top: 50px;
  display: block;
  color: var(--color-white);

  & .AppComponent__heading {
    font-size: 50px;
  }
}
