@import '../../../../styles/typography';
@import '../../../../styles/colors';
@import '../../../../styles/media';
@import '../../../../styles/markdown';

.ArticleHeader {
  width: 100%;
  padding: 3em 4em 0;
  box-sizing: border-box;

  @include media($mobile-any) {
    padding: 1em 2em 0;
  }

  & .ArticleHeader__title {
    font-family: $font-dincyr-bold;
    font-size: 4.4em;
    line-height: 1.3em;
    color: $color-black-darker;

    @include media($mobile-any) {
      font-size: 3.2em;
    }

    @include media($mobile) {
      font-size: 2.8em;
    }
  }

  & .ArticleHeader__article-info {
    margin-top: 1em;
  }

  & .ArticleHeader__description {
    font-family: $font-dincyr-regular;
    font-size: 2.2em;
    margin-top: 1em;

    @include media($mobile-any) {
      margin-top: 0.5em;
      font-size: 2em;
    }

    @include media($desktop-any) {
      text-indent: 1em;
    }

    @include markdown-bold;
    @include markdown-link;
  }
}
