:root {
  --color-black: #000000;
  --color-black-darker: rgba(0, 0, 0, 0.75);
  --color-black-medium: rgba(0, 0, 0, 0.55);
  --color-white: #ffffff;
  --color-aquamarine: #2bc6db;
  --color-green: #86ba45;
  --color-red: #cc3b49;
}
