@import '../../../../styles/typography';
@import '../../../../styles/media';
@import '../../../../styles/colors';

.ArticleRecommendations {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 32px 40px 0;
  padding: 20px;
  background: $color-white;
  box-shadow: 3px 3px 6px 3px rgb(0 0 0 / 8%);
  border-radius: 4px;

  @include media($tablet) {
    padding: 15px 10px 10px;
  }

  @include media($mobile-any) {
    margin: 24px 20px 0;
    padding: 36px 10px 10px;
  }

  &__label {
    @include media($tablet) {
      font-size: 16px;
    }

    @include media($mobile-any) {
      font-size: 15px;
    }
  }

  &__read-these-too {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: $font-dincyr-bold;
    font-size: 24px;
    line-height: 1;
    text-align: center;
    color: $color-black-darker;

    @include media($mobile-tablet-any) {
      font-size: 21px;
    }
  }

  &__articles {
    margin: 24px 0 0 0;
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: space-between;
    flex-wrap: nowrap;

    @include media($tablet) {
      margin-top: 20px;
    }

    @include media($mobile-any) {
      margin-top: 8px;
      flex-wrap: wrap;
    }
  }

  &__article {
    width: calc(100% / 3 - 10px);
    position: relative;
    border-radius: 0;
    box-shadow: 0 0 0 0 rgb(0 0 0 / 10%);
    transform: scale(1);
    transition: transform 0.2s ease-in, box-shadow 0.2s, border-radius 0.4s;
    overflow: hidden;

    @include media($desktop-any) {
      &:hover {
        border-radius: 6px;
        transform: scale(1.08);
        z-index: 1;
        box-shadow: 2px 2px 8px 4px rgb(0 0 0 / 10%);
      }
    }

    @include media($tablet) {
      width: calc(100% / 3 - 6px);
    }

    @include media($mobile-any) {
      width: 100%;
      padding-top: 10px;
      border-top: 1px solid $color-light-grey;
    }

    &:first-of-type {
      border-top: 0;
    }
  }

  &__article-link {
    color: $color-white;
    text-decoration: none;

    @include media($mobile-any) {
      display: flex;
      align-items: flex-start;
    }
  }

  &__article-image {
    width: 100%;

    @include media($mobile-any) {
      width: 50%;
    }
  }

  &__article-title {
    width: 100%;
    padding: 32px 14px 12px;
    position: absolute;
    left: 0;
    bottom: 0;
    font-family: $font-dincyr-bold;
    font-size: 17px;
    line-height: 1.5;
    box-sizing: border-box;
    background: linear-gradient(to top, $color-black, transparent);

    @include media($tablet) {
      font-size: 14px;
      line-height: 1.4;
    }

    @include media($mobile-any) {
      position: static;
      padding: 10px 10px 10px 16px;
      font-size: 16px;
      line-height: 1.4;
      background: none;
      color: $color-black-text;
    }
  }
}
