@import '../../../../styles/typography';
@import '../../../../styles/media';
@import '../../../../styles/colors';

.ArticleText {
  display: block;
  margin-top: 2em;
  padding: 0 4em;

  @include media($mobile-any) {
    margin-top: 1em;
    padding: 0 2em;
  }

  & .ArticleText__content {
    font-family: $font-dincyr-regular;
    font-size: 2.2em;

    @include media($mobile-any) {
      font-size: 2em;
    }

    @include media($desktop-any) {
      text-indent: 1em;
    }

    & strong {
      font-family: $font-dincyr-bold;
    }

    & a {
      color: $color-aquamarine;
    }
  }
}
