@import '../../../../styles/typography';
@import '../../../../styles/colors';
@import '../../../../styles/media';

.EditArticleQuote {
  display: flex;
  flex-direction: row;

  & .EditArticleQuote__wrapper {
    width: 660px;
  }

  & .EditArticleQuote__content-text {
    max-width: 70%;
    margin-left: auto;
    padding: 8px 10px 8px 0;
    font-family: $font-dincyr-regular;
    font-size: 16px;
    font-style: italic;
    color: $color-black-darker;
    cursor: pointer;
  }

  & .EditArticleQuote__content-credit {
    padding: 8px $font-dincyr-regular;
    font-size: 16px;
    color: $color-black-darker;
    cursor: pointer;
    text-align: right;
  }

  & .EditArticleQuote__text-field {
    margin-top: 20px;
  }

  & .EditArticleQuote__credit-field {
    margin-top: 20px;
  }

  & .EditArticleQuote__actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
  }

  & .EditArticleQuote__action {
    -webkit-appearance: none;
    width: 28px;
    height: 28px;
    padding: 0;
    margin: 0;
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;

    & .icon {
      width: 32px;
      height: 32px;
      color: $color-black-medium;
    }
  }

  & .EditArticleQuote__done {
    &:hover {
      & .icon {
        color: $color-green;
      }
    }
  }

  & .EditArticleQuote__delete {
    &:hover {
      & .icon {
        color: $color-red;
      }
    }
  }
}
