@import '../../../../styles/typography';
@import '../../../../styles/media';
@import '../../../../styles/colors';

.ArticleCode {
  display: block;
  margin-top: 42px;
  padding: 0 4em;

  @include media($mobile-any) {
    margin-top: 34px;
    padding: 0 2em;
  }

  & .ArticleCode__content {
    position: relative;
  }

  & .ArticleCode__code-type {
    position: absolute;
    left: 20px;
    top: 20px;
    padding: 5px 10px;
    background: $color-dark-grey;
    border-radius: 3px;
    font-family: $font-dincyr-regular;
    font-size: 16px;
    color: $color-white;
    z-index: 10;
  }

  & .ArticleCode__code {
    padding: 70px 20px 0;
    margin: 0;
    font-size: 16px;
    background: $color-white;
    border: 1px dashed $color-dark-grey;
    overflow-x: scroll;

    @include media($mobile-any) {
      font-size: 14px;
    }
  }
}
