@import '../../../../public/styles/colors.pcss';

.EditHomepageSection {
  width: 860px;
  height: auto;
  margin-top: 30px;
  padding: 25px;
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--color-white);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
}
