@import '../../../../styles/colors';
@import '../../../../styles/media';

$homepage-section-tablet-691-715: new-breakpoint(min-width 691px max-width 715px);
$homepage-section-tablet-691-790: new-breakpoint(min-width 691px max-width 790px);

.HomepageSection {
  width: 100%;
  max-width: 128em;
  height: auto;
  max-height: 48em;
  margin-top: 4em;
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  background: $color-white;
  font-size: 1rem;

  @include media($mobile-any) {
    max-height: initial;
    flex-direction: row;
  }

  &:first-of-type {
    @include media($mobile-any) {
      margin-top: 0;
    }
  }

  @include media($homepage-section-tablet-691-715) {
    font-size: 0.9rem;
  }

  @include media($homepage-section-tablet-691-790) {
    max-height: 34em;
  }
}
